.about-section {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
    font-family: monospace;
}

.about-section h2 {
    font-size: 2rem;
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.about-content {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #222;
}

.about-content ul {
    transform: translateX(20px);
}

.about-photo {
    float: left;
    width: 400px;
    height: 400px;
   /* margin: 0 1rem 1rem 1.5rem;*/
    margin-right: 1.5rem;
    transform: translateY(-5px);
    border-radius: 32px 32px 32px 0px;
    object-fit: cover;
}

.about-header {
    font-size: 2.2rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .about-photo {
        float: none;
        display: block;
        transform: translateX(0px);
        width: 400px;
        height: 250px;
        margin: 0 auto 1rem auto;
        object-fit: cover;
        object-position: top;
    }

    .about-content {
        font-size: 1.2rem;
        line-height: 1.7;
        color: #222;
    }

    .about-content ul {
        transform: translateX(0px);
    }
}
