body {
    background-color: #f3e500;
    margin: 0 auto;
    padding: 0;
    overflow: hidden auto;
    height: 200vh;
}

.landingpage {
    width: 100vw;
    height: 100vh;
    padding: 0;
}
/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html, body {
    width: 100%;
    height: 100%;
    display: flex;*/
/*    justify-content: center;
    align-items: center;*/
    /*overflow: hidden;

    font-family: Arial, sans-serif;
    background-color: #f3e500;
    color: #333;
}*/

header {
    text-align: center;

    width: 50vw;
    margin: 0 auto;
}

section {
    font-family: 'Fira Code', Courier, monospace;
    font-size: 1.25vw;
    text-align: left;
    width: 50vw;
    margin: 0 auto;
}

.text-section {
    padding-left: 20px;
    border-left: 10px solid currentColor; /* Fallback cursor */
}

/* Typewriter Text and Cursor */
.section-header {
    font-family: 'Fira Code', Courier, monospace;
    font-size: 2.5vw;
    display: inline-block;
    overflow: auto;
    /*padding-left: 10px;*/
    /*border-left: 20px solid currentColor;*/ /* Fallback cursor */
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.logo-layout {
    max-width: 50vh;
    height: auto;
    display: flex;
    margin: 0 auto;

}

.logo {
    width: 100%;
    height: auto;
    display: flex;

    margin: 0 auto;
}

.construction {
    position: relative;
    top: 140px;
    margin: 0 auto;
    width: 0px;
    
    z-index: 1000;

    transition: opacity 0.5s;
    font-size: 5vw;
}

/* General Styles */

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -30px;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    background-color: #f39c12;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4), -4px -4px 10px rgba(255, 255, 255, 0.1);
    color: #000;
    text-decoration: none;
    font-size: 28px;
    transition: all 0.2s ease-in-out;
}

/* Hover Effect */
.icon:hover {
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.4), inset -4px -4px 10px rgba(255, 255, 255, 0.1);
    transform: scale(0.98);
}

/* Icon Styling */
.icon i {
    pointer-events: none;
}

.ripple {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    pointer-events: none; /* Ensures the canvas doesn't block other elements */
    z-index: -1;
}

/* Particle Background */
#particles-js {
    position: absolute;
    width: 30%;
    height: 50%;
    z-index: -1;
}

#particles-js2 {
    position: absolute;
    right: 0px;
    width: 30%;
    height: 50%;
    z-index: -1;
}

/* Blinking Animation for Cursor */
/*@keyframes blink {
    0%, 50% {
        border-color: currentColor;
    }
    51%, 100% {
        border-color: transparent;
    }
}*/