body {
    background-color: #f3e500;
    margin: 0 auto;
    padding: 0;
    overflow: hidden auto;
    height: 200vh;
}

.landingpage {
    width: 100vw;
    height: 100vh;
    padding: 0;
    /*background: radial-gradient(circle farthest-corner at 0% 0%, #FFFF, #f3e50000 15%);*/
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    min-width: 6vh;
    color: #DDD;
    text-decoration: none;
    font-size: 28px;
}

section {
    font-family: 'Fira Code', Courier, monospace;
    font-size: 18px;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-section {
    padding-left: 20px;
    border-left: 10px solid currentColor;
}

.section-header {
    font-family: 'Fira Code', Courier, monospace;
    font-size: 40px;
    display: inline-block;
    overflow: auto;
    font-weight: bold;
    min-height: 55px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.logo-layout {
    max-width: 280px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    image-rendering: pixelated;
    margin: 0 auto;
    margin-top: 60px;
}


.details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
}

/*mobile overrides*/
@media (max-width: 1100px) {
    section {
        font-family: 'Fira Code', Courier, monospace;
        font-size: 1rem;
        text-align: left;
        max-width: 1000px;
        margin: 0 auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-header {
        font-family: 'Fira Code', Courier, monospace;
        font-size: 1.6rem;
        display: inline-block;
        overflow: auto;
        /*padding-left: 10px;*/
        /*border-left: 20px solid currentColor;*/ /* Fallback cursor */
        font-weight: bold;
    }
}